@import "./Root.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/*
APP FEATURES IN ORDER
1.As-Needed Wizard / ANW
2.Everything On A Schedule / EOS
3.Tracking Hub
4.Car Family Feature
5.Journal
6.Daily Life


*/

.appFeatures-page p {
  font-size: 1.2rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  letter-spacing: 0.8px;
}

.appFeatures-page h2 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    0px 0.1px 10px rgba(255, 255, 255, 0.3);
  letter-spacing: 2px;
}

/*
=================================================
Hero
=================================================
*/

.af-hero-container {
  height: 90svh;
  display: flex;
  flex-direction: column;
}

.af-hero-container-img {
  background-image: url(../imgs/encurage/r.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.af-hero-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
}

.af-hero-container h2 {
  border: none;
  font-size: 2rem;
  transition: all 2s ease-in-out;
}

.af-hero-container p {
  font-size: 1.2rem;
  transition: all 2s ease-in-out;
  text-align: left;
  max-width: 900px;
  letter-spacing: 3px;
}

.af-hero-container-text span {
  font-weight: 800;
}

/*
=================================================
Swiper.js / App Carousel Component
=================================================
*/

.swiper-container {
  height: 700px;
  width: 100%;
  max-width: 600px;
  margin-top: 4rem;
}

.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
}

/*
=================================================
features intro
=================================================
*/

.features-container {
  background-color: white;
}

.feature-card-wrapper {
  margin: 2rem auto;
  padding: 2rem;
  height: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.feature-card {
  color: white;
  background-color: var(--primaryOne);
  margin: 0 auto;
  height: 100%;
  width: 100%;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.feature-card img {
  margin-right: 10px;
}

.feature-card h3 {
  max-width: 200px;
  font-weight: 500;
  text-align: right;
}

.feature-card p {
  max-width: 200px;
  line-height: 1.5;
}

/*
=================================================
Tracking Hub
=================================================
*/
.tracking-hub {
  margin: 4rem auto;
  padding: 2rem;
}

.tracking-hub h2 {
  border: none;
  padding-bottom: 4rem;
}

.tracking-hub h3 {
  letter-spacing: 2px;
  margin: 1rem auto;
  font-size: 2rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
}

.tracking-hub > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tracking-info {
  background-color: #b2ebf2;
  padding: 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 900px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
}

.tracking-info p {
  max-width: 600px;
}

/*
=================================================
Daily Life
=================================================
*/
.daily-life {
  margin: 6rem auto;
  padding: 2rem;
}

.daily-life h3 {
  letter-spacing: 2px;
  margin: 1rem auto;
  font-size: 2rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
}

.daily-life > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dl-info {
  background-color: #eafaf1;
  padding: 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 700px;
  min-height: 250px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
}

.dl-info p {
  max-width: 600px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
=================================================
Care Family
=================================================
*/
.care-family {
  padding: 2rem;
}

.care-family h3 {
  letter-spacing: 2px;
  margin: 1rem auto;
  font-size: 2rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
}

.care-family > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cf-info {
  background-color: #ffccbc;
  padding: 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 700px;
  min-height: 250px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
}

.cf-info p {
  max-width: 600px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
=================================================
As-Needed Wizard
=================================================
*/
.as-needed-wizard {
  padding: 2rem;
}

.as-needed-wizard h2 {
  font-size: 2.6rem;
  border: none;
  padding-bottom: 4rem;
}

.as-needed-wizard h3 {
  letter-spacing: 2px;
  margin: 1rem auto;
  font-size: 2rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
}

.as-needed-wizard > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anw-info {
  background-color: #fcf3cf;
  padding: 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 700px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
}

.anw-info p {
  max-width: 600px;
  text-align: left;
}

/*
=================================================
EOS
=================================================
*/
.eos {
  margin: 6rem auto;
  padding: 2rem;
}

.eos h3 {
  letter-spacing: 2px;
  margin: 1rem auto;
  font-size: 2rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
}

.eos > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eos-info {
  background-color: #ffccbc;
  padding: 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 700px;
  min-height: 250px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
}

.eos-info p {
  max-width: 600px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
=================================================
Journal
=================================================
*/

.journal {
  margin: 6rem auto;
  padding: 2rem;
}

.journal h3 {
  letter-spacing: 2px;
  margin: 1rem auto;
  font-size: 2rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
}

.journal > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.j-info {
  background-color: #fbeee6;
  padding: 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 700px;
  min-height: 250px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
}

.j-info p {
  max-width: 600px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
=====================================================================
Media Queries    Built from Mobile ==> Tablet/IPad ==> Desktop
=====================================================================
*/

@media (min-width: 550px) and (max-width: 1100px) {
  .appFeatures-page p {
    font-size: 1.25rem;
  }
  /* hero */

  .af-hero-container {
    height: 100svh;
    flex-direction: row-reverse;
  }

  .af-hero-container-img {
    width: 100%;
    min-width: 300px;
    border-radius: 0 0 10px 10px;
  }

  .af-hero-container h2 {
    border: none;

    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  .af-hero-container p {
    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  /* features container */
  .features-container > div {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature-info span {
    font-size: 2.5rem;
  }

  .feature-info p {
    font-size: 1.4rem;
  }

  /* tracking hub */

  .tracking-info {
    margin: 1rem;
    border-radius: 10px;
    padding-left: 10px;
  }

  /* Daily Life */

  .dl-info {
    margin: 1rem;
    border-radius: 10px;
    padding-left: 10px;
  }

  /* Care-family */

  .cf-info {
    margin: 1rem;
    border-radius: 10px;
    padding-left: 10px;
  }

  /* download */

  .af-download-wrapper {
    max-width: 900px;
  }

  .af-download-info {
    transition: all 0.5s ease-in-out;
  }

  /* ANW */

  .anw-info {
    text-align: center;
    border-radius: 10px;
  }

  /* Eos */

  .eos-info {
    margin: 1rem;
    border-radius: 10px;
    padding-left: 10px;
  }

  /* Journal */

  .j-info {
    margin: 1rem;
    border-radius: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 1100px) {
  .appFeatures-page p {
    font-size: 1.3rem;
  }

  /* Hero */

  .af-hero-container {
    height: 100svh;
    flex-direction: row-reverse;
  }

  .af-hero-container-img {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  .af-hero-container h2 {
    border: none;

    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  .af-hero-container p {
    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  /* features container */

  .features-container > div {
    grid-template-columns: repeat(3, 1fr);
  }

  .feature-info span {
    font-size: 3rem;
  }

  .feature-info p {
    font-size: 1.6rem;
  }

  /* tracking hub */

  .tracking-hub > div {
    flex-direction: row-reverse;
  }

  .tracking-info {
    border-radius: 10px;
    margin-left: 20px;
    flex-direction: row;
  }

  .tracking-info h3 {
    justify-content: center;
    align-items: center;
  }

  /* Daily Life */

  .daily-life > div {
    flex-direction: row;
  }

  .dl-info {
    border-radius: 10px;
    margin-right: 10px;
    flex-direction: row;
  }

  .dl-info h3 {
    justify-content: center;
    align-items: center;
  }

  /* Care-family */

  .care-family > div {
    flex-direction: row;
  }

  .cf-info {
    border-radius: 10px;
    margin-right: 20px;
    flex-direction: row;
  }

  .cf-info h3 {
    justify-content: center;
    align-items: center;
  }

  /* download */

  .af-download-wrapper {
    left: 100px;
    max-width: 900px;
  }

  .af-download-info {
    left: 400px;
    transition: all 0.5s ease-in-out;
    flex-direction: row;
  }

  .af-download-btns {
    flex-direction: row;
  }

  /* ANW */

  .as-needed-wizard > div {
    flex-direction: row-reverse;
  }

  .anw-info {
    border-radius: 10px;
    margin-left: 20px;
    flex-direction: row;
  }

  .anw-info h3 {
    justify-content: center;
    align-items: center;
  }

  /* EOS */

  .eos > div {
    flex-direction: row;
  }

  .eos-info {
    border-radius: 10px;
    margin-left: 20px;
    flex-direction: row;
  }

  .eos-info h3 {
    justify-content: center;
    align-items: center;
  }

  /* Journal */

  .journal > div {
    flex-direction: row-reverse;
  }

  .j-info {
    border-radius: 10px;
    margin-left: 10px;
    flex-direction: row;
  }

  .j-info h3 {
    justify-content: center;
    align-items: center;
  }
}
