@import "./Root.css";

/*
===========================================================
 Subscribe Button 
 ==========================================================
 */

.sub-btn-container {
  width: 300px;
}

.subscription {
  position: relative;
  width: 100%;
  height: 2.3rem;
}

.subscription .add-email {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
  border-radius: 60px;
}

.subscription .submit-email {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 2px);
  width: 100px;
  border: none;
  border-radius: 60px;
  outline: none;
  margin: 1px;
  padding: 0 20px;
  cursor: pointer;
  background: var(--primaryOne);
  color: #ffffff;
  transition: width 0.35s ease-in-out, background 0.35s ease-in-out;
}

.subscription.done .submit-email {
  width: calc(100% - 2px);
  background: var(--primaryFive);
}

.subscription .submit-email .before-submit,
.subscription .submit-email .after-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 38px;
  transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

.subscription.done .submit-email .before-submit,
.subscription:not(.done) .submit-email .after-submit {
  visibility: hidden;
  opacity: 0;
}

.subscription .submit-email .after-submit {
  transition-delay: 0.35s;
}

.subscription:not(.done) .submit-email .before-submit,
.subscription.done .submit-email .after-submit {
  visibility: visible;
  opacity: 1;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.sub-btn-container form span:nth-child(1):hover {
  color: var(--primaryFive);
  transition: all 0.5s ease-in-out;
}

/*
==========================
Download Buttons
==========================
*/

/*
==========================
Collapse Buttons
==========================
*/

.collapse-btn {
  font-size: 1.3rem;
  width: 300px;
  color: white;
  background: linear-gradient(
    80deg,
    hsla(272, 58%, 42%, 1) 0%,
    hsla(290, 43%, 42%, 1) 12%,
    hsla(360, 100%, 75%, 1) 100%
  );
  padding: 10px;
  border: 0 solid;
  border-radius: 5px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

/*
==========================
CTA Button
==========================
*/

.cta-btn-home {
  color: white;
  background: linear-gradient(
    80deg,
    hsla(272, 58%, 42%, 1) 0%,
    hsla(290, 43%, 42%, 1) 12%,
    hsla(360, 100%, 75%, 1) 100%
  );
  padding: 10px;
  border: 0 solid;
  border-radius: 5px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.cta-btn-home a {
  color: white;
  text-decoration: none;
}

.cta-btn-home:hover {
  color: white;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px var(--primaryFive);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
/*
==========================
Social Media Icons
==========================
*/

.facebook-icon {
  width: 100px;
  height: 100px;
  color: white;
}
