@import "./Root.css";

/*
=================================================
Hero
=================================================
*/

.ch-hero {
}

.ch-hero img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}
