@import "./Root.css";

.health-page p {
  font-size: 1.2rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  letter-spacing: 0.8px;
}

.health-page h2 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    0px 0.1px 10px rgba(255, 255, 255, 0.3);
  letter-spacing: 2px;
}
/*
=================================================
Hero
=================================================
*/

.ch-hero-container {
  height: 130svh;
  display: flex;
  flex-direction: column;
}

.ch-hero-container-img {
  background-image: url(../imgs/encurage/challengesandriskphoto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.ch-hero-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
}

.ch-hero-container h2 {
  border: none;
  transition: all 2s ease-in-out;
}

.ch-hero-container p {
  transition: all 2s ease-in-out;
  text-align: left;
  max-width: 900px;
  letter-spacing: 2px;
}

/*
=================================================
Download Break (Revisions)
=================================================
*/

.ch-download-break {
  margin-top: 2rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  background-color: var(--primaryThree);
  border-top: 1px solid var(--primaryOne);
  border-bottom: 1px solid var(--primaryOne);
  font-weight: 600;
}

/*
=================================================
Stats
=================================================
*/

.ch-card-wrapper {
  margin: 5vh auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.ch-stats-container h2 {
  padding-top: 4rem;
  font-size: 2.5rem;
  text-align: center;
  border: none;
}

.ch-stats-card {
  background-color: var(--primaryOne);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 80%;
  max-width: 400px;
  height: 400px;
  margin: 30px;
  border-radius: 5px;
}

.ch-stats-card .ch-card-content {
  width: 100%;
  padding: 30px;
  padding-top: 50px;
  text-align: center;
}

.ch-stats-card .ch-card-content p {
  padding-top: 30px;
  font-size: 1.2rem;
  color: #fff;
  line-height: 2em;
}

.ch-download-btn-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.ch-card-content > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ch-card-min {
  gap: 10px;
}

/* Animated Numbers */

.ch-animate-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ch-animate-container span {
  font-size: 2rem;
  color: white;
  padding-left: 10px;
}

/*
=================================================
Revisions 
=================================================
*/

.ch-revision-text p {
  margin: 0 auto;
  max-width: 1400px;
  padding: 2rem;
  font-size: 1.2rem;
}

.ch-revision-text span {
  font-weight: 800;
  font-size: 1.25rem;
}

/*
=================================================
Image Divider
=================================================
*/

.ch-image-divider {
  margin: 2rem auto;
  display: flex;
  height: 40svh;
  padding: 1rem 1rem 0 1rem;
  transition: all 0.3s ease-in-out;
}

.ch-image-divider > div {
  background-image: url(../imgs/encurage/challengesandriskphoto2.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 100%;
  width: 100%;
}

/*
=================================================
Reasons
=================================================
*/

.ch-reason-container {
  margin: 4rem auto;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.ch-reason-container h2 {
  font-size: 2.3rem;
  border-bottom: none;
  text-align: left;
}

.ch-reason-container > div {
  margin: 0 auto;
  padding: 2em 2rem 4rem 2rem;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.ch-reason-container > div > p {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
}

.ch-reason-spacer {
  margin: 0 auto;
  color: black;
  font-size: 1.2rem;
  padding: 5rem 2rem;
  max-width: 1200px;
}

.ch-reason-spacer span {
  font-size: 2rem;
}

.ch-reason-container > ul {
  margin: 0 auto;
  background-color: var(--primaryOne);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 50px 5px;
}

.ch-reason-container li {
  max-width: 800px;
  margin: 20px 0;
  padding: 20px;
  list-style: none;
  height: 100%;
}

.ch-reason-container li p {
  padding-bottom: 2rem;
}

.ch-reason-icon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.reason-icons {
  width: 60px;
  margin: 10px;
}

.ch-collapse {
  margin: 0 auto;
  font-size: 1rem;
}

.collapse-content {
  padding: 1rem 2rem;
  line-height: 2rem;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.collapse-wrapper {
  padding-top: 10px;
  overflow: hidden;
  transition: height ease 1s;
}

/*
=================================================
Link (Revisions)
=================================================
*/

.ch-links-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.ch-links-container h3 {
  border: none;
  padding-bottom: 10px;
}

.ch-links-container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
}

/*
=====================================================================
Media Queries    Built from Mobile ==> Tablet/IPad ==> Desktop
=====================================================================
*/

/* Hero */
/* Stats */
/* Reason */
/* Slider */

@media (min-width: 550px) and (max-width: 1100px) {
  /* Hero */
  .ch-hero-container {
    height: 100svh;
    flex-direction: row-reverse;
  }

  .ch-hero-container-img {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  .ch-hero-container h2 {
    border: none;
    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  .ch-hero-container p {
    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  .ch-download-break {
    flex-direction: row;
  }

  .ch-revision-text p {
    margin: 0 auto;
    max-width: 1400px;
    padding: 2rem;
    font-size: 1.4rem;
  }

  .ch-revision-text span {
    font-weight: 800;
    font-size: 1.45rem;
  }

  /* Stats */
  .ch-card-wrapper {
    flex-direction: row;
  }

  /* Divider */

  .ch-image-divider {
    height: 50svh;
  }

  /* Reason */

  .ch-reason-container h2 {
    font-size: 3.4rem;
  }

  .ch-reason-container > div > p {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
  }

  .ch-reason-container > ul {
    margin: 1rem;
  }
}

@media (min-width: 1100px) {
  /* Hero */

  .ch-hero-container {
    height: 100svh;
    flex-direction: row-reverse;
  }

  .ch-hero-container-img {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  .ch-hero-container h2 {
    border: none;
    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  .ch-hero-container p {
    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  .ch-download-break {
    flex-direction: row;
  }

  .ch-revision-text p {
    margin: 0 auto;
    max-width: 1400px;
    padding: 2rem;
    font-size: 1.6rem;
  }

  .ch-revision-text span {
    font-weight: 800;
    font-size: 1.65rem;
  }

  /* Stats */
  .ch-card-wrapper {
    flex-direction: row;
  }

  /* Divider */

  .ch-image-divider {
    height: 70svh;
  }

  .ch-image-divider > div {
    background-position: center 75%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Reason */

  .ch-reason-container h2 {
    font-size: 3.8rem;
  }

  .ch-reason-container > div {
    max-width: 500px;
    margin-right: 4rem;
  }

  .ch-reason-container > div > p {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: left;
  }

  .ch-reason-container {
    flex-direction: row;
  }

  .ch-reason-container > ul {
    margin-right: 6rem;
  }
}
