@import "../css/Root.css";

.help-layout p {
  font-size: 1.2rem;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  letter-spacing: 1px;
}

.help-layout h2 {
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3),
    0px 0.1px 10px rgba(255, 255, 255, 0.3);
  letter-spacing: 0.2rem;
}

/* 
=====================================
Help Layout
=====================================
*/

.help-layout {
  margin: 0 auto;
}

.help-layout-hero {
  height: 100vh;
  background-image: url(../imgs/encurage/lightbulb.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  position: relative;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
  position: relative;
}

.help-layout-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.hl-intro-text {
  max-width: 1400px;
  padding: 0 1rem;
  padding-top: 8rem;
  text-align: center;
  color: white;
}

.hl-intro-text h2 {
  margin: 1rem;
  padding-bottom: 0.5rem;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.55),
    0px 0.1px 10px rgba(255, 255, 255, 0.3);
  border: none;
  font-size: 4rem;
  border-bottom: 0.5px solid white;
}

.hl-intro-text p {
  margin: 0 auto;
  max-width: 900px;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0), 0px -5px 35px rgba(1, 1, 1, 0.5);
  font-size: 1.2rem;
}

.help-layout > h3 {
  margin: 3rem auto;
  text-align: center;
  max-width: 800px;
  color: black;
  font-size: 1.8rem;
  padding: 0.5rem;
  text-shadow: 2 px 3px 6px rgba(0, 0, 0, 0.55);
}

.help-layout > p {
  text-align: center;
  color: black;
  margin: 0 auto 2rem;
  padding: 2rem;
  max-width: 1000px;
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.hc-nav-container {
  background-color: var(--primaryOne);
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
}

.hcNavLink {
  background-color: var(--primaryTwo);
  margin: 0 auto;
  min-width: 250px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  border: 2px solid var(--primaryOne);
  border-radius: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
}

.hcNavLink:hover {
  color: white;
  background-color: var(--primaryFour);
  transition: all 0.3s ease-in-out;
}

/*
=============================================================
Animation Section
=============================================================
*/

.svg-icon {
  height: 4rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.home-contact-container {
  margin: 0 auto;
  padding: 4rem 0;
  text-align: center;
  color: black;
}

.home-contact-container h2 {
  font-size: 3rem;
  border: none;
}

.home-contact-container > p {
  font-size: 1.1rem;
}

.contact-card-container {
  margin-top: 20px;
  padding: 0 20px;
}

.contact-card-wrapper {
  margin: 0 auto;
  height: 100%;
  max-width: 800px;
  padding: 20px 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  background: var(--primaryOne);
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
}

.support-animation {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.contact-card {
  background-color: var(--primaryThree);
  width: 100%;
  border: 0.3px solid var(--primaryFive);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 20px 15px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
}

.contact-card button {
  width: 150px;
}

.contact-card h3 {
  text-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.2);
}

/* 
=====================================
Contact Section
=====================================
*/

.contact-page {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

.contact-img {
  background-image: url(../imgs/encurage/handsexplaining.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-page h1 {
  margin: 0 auto;
  color: black;
  font-size: 3rem;
  border-bottom: 0.3px solid black;
  max-width: 350px;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3),
    0px 0.1px 10px rgba(255, 255, 255, 0.3);
}

.contact-page p {
  color: black;
  margin: 0 auto 2rem;
  padding: 2rem;
  max-width: 1000px;
  font-size: 1.3rem;
  line-height: 2.2rem;
}

.contact-container {
  background-color: var(--primaryTwo);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.email-animation {
  min-width: 400px;
  max-width: 700px;
}

/* Contact Form */

.contact-form-container {
  position: relative;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.response-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primaryOne);
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 999;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.label {
  color: black;
  margin-bottom: 5px;
  font-weight: bold;
}

.input,
.textarea {
  margin: 0 auto;
  width: 300px;
  color: var(--primaryFour);
  background-color: var(--primaryThree);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid var(--primaryThree);
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: var(--primaryFour);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px var(--primaryFour),
    0 0 8px var(--primaryFour);
  box-shadow: inset 0 1px 1px var(--primaryFour), 0 0 8px var(--primaryFour);
}

.textarea {
  width: 300px;
  height: 200px;
  color: var(--primaryFour);
  resize: vertical;
}

.textarea:focus {
  border-color: var(--primaryFour);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px var(--primaryFour),
    0 0 8px var(--primaryFour);
  box-shadow: inset 0 1px 1px var(--primaryFour), 0 0 8px var(--primaryFour);
}

.submit-button {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 10px 20px;
  background-color: var(--primaryThree);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid var(--primaryFour);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
}

.submit-button:hover {
  border: 1px solid var(--primaryThree);
  background-color: var(--primaryFour);
  color: var(--primaryThree);
  transition: all 0.3s ease-in-out;
}

/* 
=====================================
Faq Section
=====================================
*/

.faq-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-page h1 {
  margin-top: 3rem;
  color: black;
  font-size: 3rem;
}

.faq-page h2 {
  text-align: center;
  color: black;
  font-size: 2.3rem;
  border: none;
}

.faq-page > p {
  text-align: center;
  color: black;
  margin: 0 auto 2rem;
  padding: 2rem;
  max-width: 1000px;
  font-size: 1.1rem;
  line-height: 2.2rem;
}

.faq-examples {
  width: 100%;
  border: 0.3px solid var(--primaryFour);
  background-color: var(--primaryOne);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.faq-examples > ul {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  padding: 0 2rem;
  color: white;
}

.faq-examples > ul span {
  font-size: 1.4rem;
  border-bottom: 0.3px solid white;
}

.faq-examples > ul li {
  padding: 0.75rem 0;
  max-width: 400px;
  font-size: 1rem;
}

.Collapsible {
  max-width: 1000px;
  padding: 1rem;
}

.Collapsible__contentInner {
  background-color: var(--primaryOne);
  padding: 2rem;
  border: 1px solid var(--primaryFour);
  border-top: 0;
  border-radius: 0px 0px 20px 20px;
  color: white;
}

.Collapsible__contentInner p {
  font-size: 1.2rem;
  text-shadow: none;
}

.Collapsible__trigger {
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 1px solid var(--primaryFour);
  padding: 15px;
  background: var(--primaryThree);
  color: black;
  font-size: 1.1rem;
}

.Collapsible__trigger:after {
  font-family: "Quicksand";
  content: "\25BE";
  position: absolute;
  right: 5px;
  top: 30%;
  display: flex;
  transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}

/* 
=====================================
Terms & Conditions
=====================================
*/

.terms-conditions {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.terms-conditions h2 {
  color: black;
  border: none;
}

.terms-conditions h3 {
  color: black;
  font-size: 1.7rem;
}

.terms-conditions p {
  padding: 2rem 0;
  color: black;
  font-size: 1.1rem;
  line-height: 2.5rem;
}

.terms-conditions p span {
  font-weight: 600;
}

/* 
=====================================
Privacy Policy
=====================================
*/

.privacy-policy {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.privacy-policy h2 {
  color: black;
  border: none;
  text-transform: uppercase;
}

.privacy-policy h3 {
  color: black;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.privacy-policy p {
  padding: 2rem 0;
  color: black;
  font-size: 1.1rem;
  line-height: 2.5rem;
}

.privacy-policy p span {
  font-weight: 600;
}

.privacy-policy ul li {
  margin: 0 1.2rem;
  padding: 0 1.2rem;
  color: black;
}

.privacy-policy ul li span {
  font-weight: 600;
}

/*
=====================================================================
Media Queries    Built from Mobile ==> Tablet/IPad ==> Desktop
=====================================================================
*/

@media (min-width: 550px) and (max-width: 1100px) {
  .hc-nav-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .hl-intro-text h2 {
    font-size: 6rem;
  }

  .hl-intro-text p {
    font-size: 1.4rem;
  }

  .help-layout > h3 {
    font-size: 3rem;
  }

  .help-layout > p {
    font-size: 1.3rem;
  }

  /*      Contact Section       */

  .home-contact-container > p {
    font-size: 1.6rem;
  }

  .contact-container {
    flex-direction: row;
  }

  .faq-examples {
    flex-direction: row;
  }
}

@media (min-width: 1101px) {
  .hc-nav-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .hl-intro-text h2 {
    font-size: 8rem;
  }

  .hl-intro-text p {
    font-size: 1.6rem;
  }

  .help-layout > h3 {
    font-size: 4rem;
  }

  .help-layout > p {
    font-size: 1.4rem;
  }

  .contact-container {
    flex-direction: row;
  }

  .faq-examples {
    flex-direction: row;
  }

  /*       Contact Section       */

  .home-contact-container h2 {
    font-size: 4rem;
  }

  .home-contact-container h3 {
    font-size: 1.5rem;
  }
  .home-contact-container p {
    padding-bottom: 10px;
  }

  .home-contact-container > p {
    font-size: 2rem;
  }

  .home-contact-container div {
    display: flex;
  }

  .contact-card-wrapper {
    height: 100%;
    min-height: 40vh;
  }

  .contact-card {
    flex-direction: row;
    gap: 50px;
  }

  .contact-card div {
    flex-direction: column;
  }

  .contact-card button {
    margin-right: 15px;
  }
}
