@import "../css/Root.css";

.help-layout p {
  font-size: 1.2rem;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  letter-spacing: 1px;
}

.help-layout h2 {
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3),
    0px 0.1px 10px rgba(255, 255, 255, 0.3);
  letter-spacing: 0.2rem;
  border: none;
}

/* 
=====================================
Help Layout
=====================================
*/

.hc-hero-container {
  height: 50svh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.hc-hero-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
}

.hc-hero-container h2 {
  border: none;
  transition: all 2s ease-in-out;
}

.hc-hero-container p {
  transition: all 2s ease-in-out;
  text-align: left;
  max-width: 900px;
  letter-spacing: 2px;
}

.hc-nav-container {
  background-color: var(--primaryOne);
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
}

.hcNavLink {
  background-color: white;
  margin: 0 auto;
  min-width: 250px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  border: 2px solid var(--primaryOne);
  border-radius: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
}

.hcNavLink:hover {
  color: white;
  background-color: var(--primaryFour);
  transition: all 0.3s ease-in-out;
}

/*
=============================================================
Animation Section
=============================================================
*/

.gear-animation {
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
}

.support-animation {
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
}

/* 
=====================================
Contact Section
=====================================
*/

.contact-page {
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-inner {
  width: 100%;
  display: flex;
  flex-direction: column;

  max-width: 1200px;
  gap: 2rem;
}

.contact-card {
  background-color: white;
  width: 250px;
  border: 0.3px solid var(--primaryFive);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 1rem;
  padding: 10px 15px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
}

.contact-page p {
  max-width: 500px;
  padding: 1.2rem;
}

.contact-card button {
  width: 150px;
  margin-bottom: 20px;
}

.tech-support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
=====================================
Faq Section
=====================================
*/

.faq-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-page h2 {
  margin-top: 2rem;
  padding-left: 2rem;
}

.faq-page > p {
  text-align: left;
  color: black;
  margin: 0 auto 2rem;
  padding: 2rem;
  max-width: 1000px;
  font-size: 1.1rem;
  line-height: 2.2rem;
  max-width: 900px;
  letter-spacing: 2px;
}

.faq-wrapper {
  background-color: var(--primaryOne);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
}

.faq-examples {
  max-width: 1600px;
  color: white;
  padding: 1rem;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  transition: all 0.5s ease-in-out;
}

.examples {
  max-width: 900px;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px 5px;
  margin: 10px;
}

.examples img {
  margin: 5px;
  padding-right: 10px;
}

.examples:nth-child(4) > img {
  padding-right: 20px;
  margin-left: 15px;
}

.examples:hover {
  cursor: pointer;
}

/* Collapse */

.faq-collapse h2 {
  padding-top: 2rem;
}

.Collapsible {
  max-width: 1000px;
  padding: 1rem;
}

.Collapsible__contentInner {
  background-color: var(--primaryOne);
  padding: 2rem;
  border: 1px solid var(--primaryFour);
  border-top: 0;
  border-radius: 0px 0px 20px 20px;
  color: white;
}

.Collapsible__contentInner p {
  font-size: 1.2rem;
  text-shadow: none;
}

.Collapsible__trigger {
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 1px solid var(--primaryFour);
  padding: 15px;
  background: var(--primaryThree);
  color: black;
  font-size: 1.1rem;
}

.Collapsible__trigger:after {
  font-family: "Quicksand";
  content: "\25BE";
  position: absolute;
  right: 5px;
  top: 30%;
  display: flex;
  transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}

/* 
=====================================
Terms & Conditions
=====================================
*/

.terms-conditions {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.terms-conditions h2 {
  color: black;
  border: none;
}

.terms-conditions h3 {
  color: black;
  font-size: 1.7rem;
}

.terms-conditions p {
  padding: 2rem 0;
  color: black;
  font-size: 1.1rem;
  line-height: 2.5rem;
}

.terms-conditions p span {
  font-weight: 600;
}

/* 
=====================================
Privacy Policy
=====================================
*/

.privacy-policy {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.privacy-policy h2 {
  color: black;
  border: none;
  text-transform: uppercase;
}

.privacy-policy h3 {
  color: black;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.privacy-policy p {
  padding: 2rem 0;
  color: black;
  font-size: 1.1rem;
  line-height: 2.5rem;
}

.privacy-policy p span {
  font-weight: 600;
}

.privacy-policy ul li {
  margin: 0 1.2rem;
  padding: 0 1.2rem;
  color: black;
}

.privacy-policy ul li span {
  font-weight: 600;
}

/*
=====================================================================
Media Queries    Built from Mobile ==> Tablet/IPad ==> Desktop
=====================================================================
*/

@media (min-width: 550px) and (max-width: 1100px) {
  .hc-nav-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .hl-intro-text h2 {
    font-size: 6rem;
  }

  .hl-intro-text p {
    font-size: 1.4rem;
  }

  .help-layout > h3 {
    font-size: 3rem;
  }

  .help-layout > p {
    font-size: 1.3rem;
  }

  /*      Contact Section       */

  .home-contact-container > p {
    font-size: 1.6rem;
  }

  .contact-container {
    flex-direction: row;
  }

  .tech-support {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact-support {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (min-width: 1101px) {
  .hc-nav-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .hl-intro-text h2 {
    font-size: 8rem;
  }

  .hl-intro-text p {
    font-size: 1.6rem;
  }

  .help-layout > h3 {
    font-size: 4rem;
  }

  .help-layout > p {
    font-size: 1.4rem;
  }

  .contact-container {
    flex-direction: row;
  }

  /*       Contact Section       */

  .home-contact-container h2 {
    font-size: 4rem;
  }

  .home-contact-container h3 {
    font-size: 1.5rem;
  }
  .home-contact-container p {
    padding-bottom: 10px;
  }

  .home-contact-container > p {
    font-size: 2rem;
  }

  .home-contact-container div {
    display: flex;
  }

  .tech-support {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact-support {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact-card-wrapper {
    height: 100%;
    min-height: 40vh;
  }

  .contact-card div {
    flex-direction: column;
  }

  .contact-card button {
    margin-right: 15px;
  }

  .faq-examples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    transition: all 0.5s ease-in-out;
  }
}
