@import "./Root.css";

main {
  height: 100%;
  background-color: var(--primaryTwo);
  overflow: hidden;
}

main h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  border-bottom: 0.3px solid white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
}

main p {
  transition: all 0.3s ease-in-out;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}

/*
============================================
Hero
============================================
*/

.home-hero-container {
  height: 80svh;
  display: flex;
  flex-direction: column;
}

.home-hero-container-img {
  background-image: url(../imgs/encurage/homephoto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.home-hero-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
}

.home-hero-container h2 {
  border: none;
  font-size: 2.2rem;
  transition: all 2s ease-in-out;
}

.home-hero-container p {
  font-size: 1.8rem;
  transition: all 2s ease-in-out;
  text-align: left;
}

/*
============================================
Main Intro // REVISIONS
============================================
*/

.home-main-intro {
  padding: 1rem;
  margin: 8rem 0 0 0;
  text-align: center;
  border-top: 3px solid var(--primaryOne);
  border-bottom: 3px solid var(--primaryOne);
  background-color: var(--primarySeven);
}

.home-main-intro p {
  text-shadow: none;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 2.5px;
  text-align: left;
}

/*
============================================
Main Section
============================================
*/

.home-main-container {
  width: 100%;
  padding: 2rem 0;
}

.home-main {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 30px;
}

.home-main p {
  font-size: 1.3rem;
  max-width: 750px;
  line-height: 30px;
  padding: 25px 0 40px 0;
}

/* Call to Action Cards */

.cta-cards-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--primaryTwo);
  height: 750px;
  margin: 40px 0;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -25px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.card-1 {
  background-image: url(../imgs/homeImgsRevisions/HomeOne.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.card-2 {
  background-image: url(../imgs/homeImgsRevisions/HomeTwo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.card-3 {
  background-image: url(../imgs/homeImgsRevisions/HomeThree.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40%;
}
.card-4 {
  background-image: url(../imgs/homeImgsRevisions/HomeFour.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.card-5 {
  background-image: url(../imgs/homeImgsRevisions/HomeFive.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.card-6 {
  background-image: url(../imgs/homeImgsRevisions/HomeSix.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.card img {
  position: absolute;
  margin: 0 auto;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: all 0.3s ease-in-out;
}

.card .card-info {
  width: 100%;
  background-color: var(--primaryOne);
  position: relative;
  max-height: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
  transition: all 0.5s ease-in-out;
}

.card.hovered .card-info {
  max-height: 100%;
  height: 100%;
  transition: max-height 1s ease-out, opacity 0.5s linear;
}

.card .card-info h2 {
  border: none;
  max-width: 300px;
  font-size: 1.8rem;
  transition: all 0.5s ease-in-out;
}

.card .card-info p {
  font-size: 1.2rem;
  width: 80%;
  padding: 0 0 15px 0;
  transition: all 0.5s ease-in-out;
}

/*
=============================================================
App Section
=============================================================
*/

.home-app-container {
  margin: 0 auto;
}

.home-app-container h2 {
  color: black;
  border: none;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  letter-spacing: 0.3rem;
}

.home-app-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  color: white;
  gap: 4rem;
  padding: 10px;
}

.home-app-square {
  background-color: var(--primaryOne);
  max-width: 1000px;
  border-radius: 1rem;
  padding: 10px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.43);
}

.home-app-square h3 {
  font-size: 2rem;
  text-align: center;
}

.home-app-square img {
  width: 250px;
  border-radius: 20px;
}

.home-app-inner {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  height: 100%;
}

.home-app-square-inner-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home-app-square-inner-box-2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home-app-square-inner-box-2 p {
  letter-spacing: 3px;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: left;
}

.home-app-square:nth-child(4) img {
  border-radius: 50px;
}

.home-app-container > div > div:nth-child(1) {
  background-color: #fcf3cf;
  color: black;
}

.home-app-container > div > div:nth-child(2) {
  background-color: #ffccbc;
  color: black;
}
.home-app-container > div > div:nth-child(3) {
  background-color: #b2ebf2;
  color: black;
}
.home-app-container > div > div:nth-child(4) {
  background-color: #f3e5f5;
  color: black;
}

/*
=============================================================
Review Section
=============================================================
*/

.home-review-container {
  width: 100%;
  min-height: 100vh;
}

.home-review-container h2 {
  margin: 0 20%;
  padding-top: 40px;

  border: none;
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 70vh;
  margin: 60px 30px;
}

.review-quote {
  position: relative;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  align-self: center;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.review-quote h1 {
  position: relative;
  color: var(--primaryFour);
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.3;
  text-align: center;
  margin: 0;
  border: 2px solid white;
  border: solid 2px;
  border-radius: 20px;
  padding: 35px;
}

.review-quote h1:after {
  content: "";
  position: absolute;
  border: 2px solid var(--primaryFour);
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 60px;
  bottom: -62px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3;
}

.review-quote h1:before {
  content: "";
  position: absolute;
  width: 80px;
  border: 6px solid var(--primaryTwo);
  bottom: -3.5px;
  left: 50px;
  z-index: 2;
}

.review-quote h4 {
  position: relative;
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-top: 15px;
  z-index: 1;
  margin-left: 150px;
  padding-left: 12px;
}

.review-quote h4:first-letter {
  margin-left: -12px;
}

.review-quote em {
  font-size: 1.2rem;
}

blockquote {
  position: relative;
  min-height: 40vh;
}

blockquote::before,
blockquote::after {
  color: black;
  font-size: 2em;
  font-weight: 400;
  line-height: 0.2em;
}

blockquote::before {
  position: absolute;
  left: -20px;
  content: open-quote;
}

blockquote::after {
  position: relative;
  left: 20px;
  top: 20px;
  content: close-quote;
}

blockquote span {
  color: black;
  font-size: 1.5rem;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.review-btn {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-wrapper button {
  font-size: 1rem;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-out.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/*
=====================================================================
Disclaimer
=====================================================================
*/

.disclaimer-container {
  padding: 2rem 0;
}

.disclaimer {
  margin: 0 auto;
  background-color: var(--primaryOne);
  padding: 2rem;

  color: white;
}

.disclaimer span {
  text-transform: uppercase;
  font-weight: bold;
}

.disclaimer-terms-btn {
  color: white;
  transition: all 0.5s ease-in-out;
  padding: 0 6px;
}

.disclaimer-terms-btn:hover {
  color: var(--primaryFive);
  transition: all 0.5s ease-in-out;
}

/*
=====================================================================
Media Queries    Built from Mobile ==> Tablet/IPad ==> Desktop
=====================================================================
*/

@media (min-width: 550px) and (max-width: 1100px) {
  /*       Hero Section       */

  .home-hero-container {
    height: 95svh;
  }

  .home-hero-container {
    flex-direction: row-reverse;
  }

  .home-hero-container-img {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  .home-hero-container h2 {
    border: none;
    font-size: 2.8rem;
    padding-right: 2rem;
    transition: all 2s ease-in-out;
  }

  .home-hero-container p {
    font-size: 2.2rem;
    padding-right: 2rem;
    transition: all 2s ease-in-out;
  }

  /*         Home Section         */

  .home-main-intro p {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }

  /* CTA Cards */

  .card .card-info h2 {
    font-size: 1.8rem;
    transition: all 0.5s ease-in-out;
  }

  .card .card-info p {
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
  }

  /*       App Section       */

  .home-app-container h2 {
    font-size: 2.4rem;
  }

  /*       Founder Section       */

  .home-founder-info {
    min-height: 720px;
    transition: all 0.5s ease-in-out;
  }

  .home-founder-info p {
    padding: 0 20px;
    font-size: 1.3rem;
    line-height: 1.75;
  }

  .home-founder-info button {
    width: 250px;
    transition: all 0.3s ease-in-out;
  }

  .review-quote h1 {
    font-size: 2rem;
    line-height: 1.4;
  }

  /*      Review Section       */

  .home-review-container {
    min-height: 600px;
  }

  .review-wrapper {
    min-height: 50vh;
  }

  blockquote span {
    font-size: 1.7rem;
  }
}

@media (min-width: 1101px) {
  /*         Hero Section          */

  .home-hero-container {
    height: 95svh;
  }

  .home-hero-container {
    flex-direction: row-reverse;
  }

  .home-hero-container-img {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  .home-hero-container h2 {
    border: none;
    font-size: 3.4rem;
    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  .home-hero-container p {
    font-size: 2.6rem;
    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  /*             Home Section               */

  .home-main-intro p {
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }

  /* CTA Cards */

  .card .card-info h2 {
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
  }

  .card .card-info p {
    font-size: 1.4rem;
    transition: all 0.5s ease-in-out;
  }

  /*       App Section       */

  .home-app-container h2 {
    font-size: 2.6rem;
  }

  .home-app-inner {
    flex-direction: row;
  }

  .square-1 {
    max-width: 1200px;
  }

  .square-2 {
    max-width: 800px;
  }

  .square-3 {
    max-width: 800px;
  }

  .square-4 {
    max-width: 1200px;
  }

  .duo {
    flex-direction: row;
  }

  /*       Founder Section       */

  .home-review-container {
    min-height: 600px;
  }

  .home-founder {
    max-width: 1400px;
  }

  .home-founder-info {
    min-height: 400px;
    transition: all 0.5s ease-in-out;
  }

  .home-founder-info p {
    font-size: 1.4rem;
  }

  .home-founder-info button {
    margin: 15px 0 0 100px;
    width: 300px;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
  }

  /*       Review Section       */

  .home-review-container {
    height: 100%;
  }

  .review-wrapper {
    min-height: 40vh;
  }

  blockquote span {
    font-size: 2rem;
  }

  blockquote {
    position: relative;
    min-height: 30vh;
  }
}
