@import "./Root.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/*
APP FEATURES IN ORDER
1.As-Needed Wizard / ANW
2.Everything On A Schedule / EOS
3.Tracking Hub
4.Car Family Feature
5.Journal
6.baby Life


*/

.MedicationManagementTools-page p {
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}

.MedicationManagementTools-page h2 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    0px 0.1px 10px rgba(255, 255, 255, 0.3);
  letter-spacing: 2px;
}

/*
=====================================================================
Screen imgs
=====================================================================
*/

.img-container {
  width: 100%;
  margin-top: 40px;
  max-width: 1000px;
}

.img-inner {
  display: flex;
  justify-content: space-evenly;
}

.screen {
  width: 160px;
  z-index: 2;
}

/*
=================================================
Hero
=================================================
*/

.af-hero-container {
  height: 90svh;
  display: flex;
  flex-direction: column;
}

.af-hero-container-img {
  background-image: url(../imgs/encurage/r.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.af-hero-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
}

.af-hero-container h2 {
  border: none;
  font-size: 2rem;
  transition: all 2s ease-in-out;
}

.af-hero-container p {
  font-size: 1.2rem;
  transition: all 2s ease-in-out;
  text-align: left;
  max-width: 900px;
  letter-spacing: 3px;
}

.af-hero-container-text span {
  font-weight: 800;
}

/*
=================================================
features intro
=================================================
*/

.features-container {
  background-color: white;
}

.feature-card-wrapper {
  margin: 2rem auto;
  padding: 2rem;
  height: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.feature-card {
  color: white;
  background-color: var(--primaryOne);
  margin: 0 auto;
  height: 100%;
  width: 100%;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.feature-card:hover {
  cursor: pointer;
}

.feature-card img {
  margin-right: 10px;
}

.feature-card h3 {
  max-width: 200px;
  font-weight: 500;
  text-align: right;
}

.feature-card p {
  max-width: 200px;
  line-height: 1.5;
}
/*
=================================================
As-Needed Wizard
=================================================
*/
.as-needed-wizard {
  margin: 4rem auto;
}

.as-needed-wizard h2 {
  font-size: 2.6rem;
  border: none;
  padding-bottom: 4rem;
  margin-left: 1.5rem;
}

.as-needed-wizard h3 {
  letter-spacing: 2px;
  margin: 1rem auto;
  font-size: 2rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
}

.as-needed-wizard > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anw-info {
  background-color: #fcf3cf;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 500px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
  border-radius: 8px;
  z-index: 2;
  margin: 1.5rem;
}

.anw-info p {
  max-width: 600px;
  text-align: left;
}

.anw-screen-1 {
  display: none;
  border-radius: 30px;
  border: 8px solid #fcf3cf;
}
.anw-screen-2 {
  display: none;
  border-radius: 30px;
  border: 8px solid #fcf3cf;
}
.anw-screen-3 {
  border-radius: 30px;
  border: 8px solid #fcf3cf;
}
.anw-screen-4 {
  border-radius: 30px;
  border: 8px solid #fcf3cf;
  transition: all 0.3s ease-in-out;
}

/*
=================================================
EOS
=================================================
*/
.eos {
  margin: 4rem auto;
}

.eos h3 {
  letter-spacing: 2px;
  margin: 1rem auto;
  font-size: 2rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
}

.eos > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eos-info {
  background-color: #ffccbc;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 500px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
  border-radius: 8px;
  z-index: 2;
  margin: 1.5rem;
}

.eos-info p {
  max-width: 600px;
  text-align: left;
}

.eos-screen-1 {
  display: none;
  border-radius: 30px;
  border: 8px solid #ffccbc;
  height: 350px;
}

.eos-screen-1 > img {
  height: 180%;
  border-radius: 30px;
  overflow: hidden;
}

.eos-screen-2 {
  border-radius: 30px;
  border: 8px solid #ffccbc;
}

.eos-screen-3 {
  border-radius: 30px;
  border: 8px solid #ffccbc;
}

/*
=================================================
Tracking Hub
=================================================
*/
.tracking-hub {
  margin: 4rem auto;
}

.tracking-hub h3 {
  letter-spacing: 2px;
  margin: 1rem auto;
  font-size: 2rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
}

.tracking-hub > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tracking-info {
  background-color: #b2ebf2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
  border-radius: 8px;
  z-index: 2;
  margin: 1.5rem;
}

.tracking-info p {
  max-width: 600px;
  text-align: left;
}

.th-screen-1 {
  display: none;
  border-radius: 30px;
  border: 8px solid #b2ebf2;
  height: 350px;
}

.th-screen-1 > img {
  width: 100%;
  height: 180%;
  border-radius: 10px;
  overflow: hidden;
}

.th-screen-2 {
  border-radius: 30px;
  border: 8px solid #b2ebf2;
  height: 360px;
  overflow: hidden;
}

.th-screen-2 > img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.th-screen-3 {
  border-radius: 30px;
  border: 8px solid #b2ebf2;
  height: 360px;
  overflow: hidden;
}

.th-screen-3 > img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.th-screen-4 {
  display: none;
  border-radius: 30px;
  border: 8px solid #b2ebf2;
}

.th-screen-4 > img {
  width: 100%;
  height: 160%;
  border-radius: 10px;
}

/*
=================================================
Care Family
=================================================
*/
.care-family {
  margin: 4rem auto;
}

.care-family h3 {
  letter-spacing: 2px;
  margin: 1rem auto;
  font-size: 2rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
}

.care-family > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cf-info {
  background-color: #ffccbc;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 500px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
  border-radius: 8px;
  z-index: 2;
  margin: 1.5rem;
}

.cf-info p {
  max-width: 600px;
  text-align: left;
}

.cf-screen-1 {
  border-radius: 30px;
  border: 8px solid #ffccbc;
  height: 360px;
}

/*
=================================================
Journal
=================================================
*/

.journal {
  margin: 4rem auto;
}

.journal h3 {
  letter-spacing: 2px;
  margin: 1rem auto;
  font-size: 2rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
}

.journal > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.j-info {
  background-color: #fbeee6;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
  border-radius: 8px;
  z-index: 2;
  margin: 1.5rem;
}

.j-info p {
  max-width: 600px;
  text-align: left;
}

.j-screen-1 {
  border-radius: 30px;
  border: 8px solid #fbeee6;
  overflow: hidden;
  height: 360px;
}

.j-screen-2 {
  border-radius: 30px;
  border: 8px solid #fbeee6;
  height: 360px;
  display: none;
}

.j-screen-3 {
  border-radius: 30px;
  border: 8px solid #fbeee6;
  height: 360px;
  overflow: hidden;
}

.j-screen-4 {
  display: none;
  border-radius: 30px;
  border: 8px solid #fbeee6;
}

.j-screen-1 > img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.j-screen-3 > img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

/*
=====================================================================
Banner
=====================================================================
*/

.coming-soon-banner {
  margin-top: 2rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--primaryOne);
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  font-weight: 600;
  color: white;
}

.banner-text {
  font-size: 1.5rem;
}

/*
=================================================
Baby Life
=================================================
*/
.baby-life {
  margin: 0.5rem 0 5rem;
}

.baby-life h3 {
  letter-spacing: 2px;
  margin: 1rem auto;
  font-size: 2rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
}

.baby-life > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bl-info {
  background-color: #eafaf1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.43);
  border-radius: 8px;
  z-index: 2;
  margin: 1.5rem;
}

.bl-info p {
  max-width: 600px;
  text-align: left;
}

.bl-screen-1 {
  display: none;
  border-radius: 30px;
  border: 6px solid #eafaf1;
}

.bl-screen-2 {
  border-radius: 30px;
  border: 6px solid #eafaf1;
  height: 360px;
  overflow: hidden;
}

.bl-screen-3 {
  border-radius: 30px;
  border: 6px solid #eafaf1;
  height: 360px;
  overflow: hidden;
}

.bl-screen-4 {
  display: none;
  border-radius: 30px;
  border: 6px solid #eafaf1;
}

.bl-screen-2 > img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.bl-screen-3 > img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

/*
=====================================================================
Media Queries    Built from Mobile ==> Tablet/IPad ==> Desktop
=====================================================================
*/

@media (min-width: 550px) and (max-width: 1100px) {
  .MedicationManagementTools-page p {
    font-size: 1.25rem;
  }
  /* hero */

  .af-hero-container {
    height: 100svh;
    flex-direction: row-reverse;
  }

  .af-hero-container-img {
    width: 100%;
    min-width: 300px;
    border-radius: 0 0 10px 10px;
  }

  .af-hero-container h2 {
    border: none;

    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  .af-hero-container p {
    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  /* features container */
  .features-container > div {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature-info span {
    font-size: 2.5rem;
  }

  .feature-info p {
    font-size: 1.4rem;
  }

  /* ANW */

  .anw-info {
    text-align: center;
    border-radius: 10px;
  }

  .as-needed-wizard > div {
    justify-content: none;
    align-items: none;
  }

  .img-inner {
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
    grid-template-rows: repeat(4, 0.1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }

  .anw-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    height: 400px;
  }

  .anw-screen-1 {
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
  }

  .anw-screen-2 {
    grid-area: 2 / 2 / 5 / 3;
    display: flex;
  }

  .anw-screen-3 {
    grid-area: 1 / 3 / 4 / 4;
  }
  .anw-screen-4 {
    grid-area: 2 / 4 / 5 / 5;
  }

  /* Eos */

  .eos-info {
    margin: 1rem;
    border-radius: 10px;
  }

  .eos-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    height: 400px;
  }

  .eos-screen-1 {
    grid-area: 1 / 2 / 4 / 4;
    display: flex;
    overflow: hidden;
  }
  .eos-screen-2 {
    grid-area: 1 / 4 / 3 / 6;
    margin-top: 20px;
    height: 350px;
  }

  .eos-screen-3 {
    grid-area: 1 / 6 / 4 / 8;
    height: 350px;
  }

  /* tracking hub */

  .tracking-info {
    margin: 1rem;
    border-radius: 10px;
  }

  .th-img-container {
    max-width: 700px;
  }

  .th-screen-1 {
    display: flex;
    overflow: hidden;
  }
  .th-screen-2 {
    margin-top: 20px;
  }

  .th-screen-4 {
    display: flex;
    overflow: hidden;
    margin-top: 20px;
  }

  .th-screen-4 > img {
    height: 400px;
  }

  /* download */

  .af-download-wrapper {
    max-width: 900px;
  }

  .af-download-info {
    transition: all 0.5s ease-in-out;
  }

  /* Care-family */

  .cf-info {
    margin: 1rem;
    border-radius: 10px;
  }

  .cf-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
  }

  /* Journal */

  .j-info {
    margin: 1rem;
    border-radius: 10px;
  }

  .j-img-container {
    max-width: 700px;
  }

  .j-screen-1 {
    overflow: hidden;
  }
  .j-screen-2 {
    display: flex;
    margin-top: 20px;
    width: 100%;
  }

  .j-screen-4 {
    display: flex;
    overflow: hidden;
    margin-top: 20px;
  }
  .j-screen-1 > img {
    width: 100%;
    overflow: hidden;
  }
  .j-screen-2 > img {
    width: 150px;
    overflow: hidden;
  }
  .j-screen-3 > img {
    width: 100%;
    overflow: hidden;
  }

  .j-screen-4 > img {
    width: 100%;
    overflow: hidden;
  }

  /* baby Life */

  .banner-text {
    font-size: 1.7rem;
  }

  .bl-info {
    margin: 1rem;
    border-radius: 10px;
  }

  .bl-img-container {
    max-width: 700px;
  }

  .bl-screen-1 {
    display: flex;
    overflow: hidden;
    height: 350px;
  }
  .bl-screen-2 {
    margin-top: 20px;
    height: 350px;
  }
  .bl-screen-3 {
    height: 350px;
  }
  .bl-screen-4 {
    display: flex;
    overflow: hidden;
    margin-top: 20px;
    height: 350px;
  }

  .bl-screen-1 > img {
    width: 100%;
    height: 400px;
  }
  .bl-screen-2 > img {
    height: 350px;
  }
  .bl-screen-3 > img {
    height: 500px;
  }
  .bl-screen-4 > img {
    width: 100%;
    height: 350px;
  }
}

@media (min-width: 550px) and (max-width: 800px) {
  .anw-screen-4 {
    display: none;
  }

  .th-screen-1 {
    margin-left: 20px;
  }

  .th-screen-4 {
    display: none;
  }

  .j-screen-1 {
    margin-left: 20px;
  }

  .j-screen-4 {
    display: none;
  }

  .bl-screen-1 {
    margin-left: 20px;
  }

  .bl-screen-4 {
    display: none;
  }
}

@media (min-width: 1100px) {
  .MedicationManagementTools-page p {
    font-size: 1.3rem;
  }

  /* Hero */

  .af-hero-container {
    height: 100svh;
    flex-direction: row-reverse;
  }

  .af-hero-container-img {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  .af-hero-container h2 {
    border: none;

    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  .af-hero-container p {
    transition: all 2s ease-in-out;
    padding-right: 2rem;
  }

  /* features container */

  .features-container > div {
    grid-template-columns: repeat(3, 1fr);
  }

  .feature-info span {
    font-size: 3rem;
  }

  .feature-info p {
    font-size: 1.6rem;
  }

  /* ANW */

  .as-needed-wizard > div {
    flex-direction: row-reverse;
    align-items: start;
  }

  .anw-info {
    border-radius: 10px;
    margin-left: 40px;
  }

  .anw-info h3 {
    justify-content: center;
    align-items: center;
  }

  /* EOS */

  .eos > div {
    flex-direction: row;
    align-items: start;
  }

  .eos-info {
    border-radius: 10px;
    margin-right: 40px;
  }

  .eos-info h3 {
    justify-content: center;
    align-items: center;
  }

  /* tracking hub */

  .tracking-hub > div {
    flex-direction: row-reverse;
    align-items: start;
  }

  .tracking-info {
    border-radius: 10px;
    margin-left: 40px;
  }

  .tracking-info h3 {
    justify-content: center;
    align-items: center;
  }

  /* download */

  .af-download-wrapper {
    left: 100px;
    max-width: 900px;
  }

  .af-download-info {
    left: 400px;
    transition: all 0.5s ease-in-out;
    flex-direction: row;
  }

  .af-download-btns {
    flex-direction: row;
  }

  /* Care-family */

  .care-family > div {
    flex-direction: row;
    margin-left: 30px;
  }

  .cf-info {
    border-radius: 10px;
    margin-right: 40px;
  }

  .cf-info h3 {
    justify-content: center;
    align-items: center;
  }

  /* Journal */

  .journal > div {
    flex-direction: row-reverse;
  }

  .j-info {
    border-radius: 10px;
    margin-left: 40px;
  }

  .j-info h3 {
    justify-content: center;
    align-items: center;
  }

  /* baby Life */

  .banner-text {
    font-size: 1.9rem;
  }

  .baby-life > div {
    flex-direction: row;
  }

  .bl-info {
    border-radius: 10px;
    margin-right: 40px;
  }

  .bl-info h3 {
    justify-content: center;
    align-items: center;
  }

  /* Screens */

  .img-container {
    width: 100%;
    margin-top: 0;
  }

  .screen {
    width: 200px;
  }

  .img-inner {
    display: grid;
    grid-template-columns: repeat(8, 0.1fr);
    grid-template-rows: repeat(4, 0.1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }

  .anw-screen-1 {
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    margin-left: 30px;
  }

  .anw-screen-2 {
    grid-area: 3 / 3 / 5 / 5;
    display: flex;
  }

  .anw-screen-3 {
    grid-area: 1 / 5 / 3 / 7;
  }

  .anw-screen-4 {
    grid-area: 3 / 7 / 5 / 9;
  }

  .eos-screen-1 {
    grid-area: 2 / 4 / 4 / 6;
    display: flex;
    height: 420px;
    margin-top: 30px;
    overflow: hidden;
  }

  .eos-screen-1 > img {
    display: flex;
  }

  .eos-screen-2 {
    grid-area: 1 / 2 / 3 / 4;
    display: flex;
  }

  .eos-screen-3 {
    grid-area: 1 / 6 / 3 / 8;
  }

  .th-img-container {
    margin-left: 30px;
  }

  .th-screen-1 {
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    height: 420px;
    overflow: hidden;
  }

  .th-screen-2 {
    grid-area: 3 / 3 / 1 / 5;
    height: 420px;
    margin-top: 30px;
    overflow: hidden;
  }

  .th-screen-3 {
    grid-area: 1 / 5 / 3 / 7;
    height: 420px;
    overflow: hidden;
  }

  .th-screen-3 > img {
    height: 600px;
  }

  .th-screen-4 {
    grid-area: 3 / 7 / 1 / 9;
    display: flex;
    height: 420px;
    margin-top: 30px;
    overflow: hidden;
  }

  .th-screen-4 > img {
    height: 500px;
  }

  .cf-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
  }

  .cf-screen-1 {
    grid-area: 1 / 1 / 5 / 4;
    height: 420px;
  }

  .j-img-container {
    margin-left: 30px;
  }

  .j-screen-1 {
    grid-area: 1 / 1 / 3 / 3;
    height: 420px;
    overflow: hidden;
  }

  .j-screen-1 > img {
    width: 100%;
  }

  .j-screen-2 {
    grid-area: 3 / 3 / 1 / 5;
    height: 420px;
    margin-top: 30px;
    overflow: hidden;
    display: flex;
  }

  .j-screen-2 > img {
    width: 100%;
  }

  .j-screen-3 {
    grid-area: 1 / 5 / 3 / 7;
    height: 420px;
    overflow: hidden;
  }

  .j-screen-3 > img {
    width: 100%;
    height: 600px;
  }

  .j-screen-4 {
    grid-area: 3 / 7 / 1 / 9;
    display: flex;
    height: 420px;
    margin-top: 30px;
    overflow: hidden;
  }

  .j-screen-4 > img {
    width: 100%;
    height: 400px;
  }

  .bl-img-container {
    margin-top: 50px;
    margin-right: 20px;
  }

  .bl-screen-1 {
    grid-area: 1 / 1 / 3 / 3;
    height: 420px;
    overflow: hidden;
    display: flex;
  }

  .bl-screen-1 > img {
    width: 100%;
  }

  .bl-screen-2 {
    grid-area: 3 / 3 / 1 / 5;
    height: 420px;
    margin-top: 30px;
    overflow: hidden;
    display: flex;
  }

  .bl-screen-2 > img {
    width: 100%;
    height: 410px;
  }

  .bl-screen-3 {
    grid-area: 1 / 5 / 3 / 7;
    height: 420px;
    overflow: hidden;
  }

  .bl-screen-3 > img {
    width: 100%;
    height: 600px;
  }

  .bl-screen-4 {
    grid-area: 3 / 7 / 1 / 9;
    display: flex;
    height: 420px;
    margin-top: 30px;
    overflow: hidden;
  }

  .bl-screen-4 > img {
    width: 100%;
    height: 410px;
  }

  @media (min-width: 550px) and (max-width: 1250px) {
    .anw-screen-4 {
      display: none;
      transition: all 0.3s ease-in-out;
    }
    .th-screen-4 {
      display: none;
      transition: all 0.3s ease-in-out;
    }
    .j-screen-4 {
      display: none;
      transition: all 0.3s ease-in-out;
    }
    .bl-screen-1 {
      display: none;
      transition: all 0.3s ease-in-out;
    }
  }
}
