@import "./Root.css";

.review-page p {
  font-size: 1.2rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  letter-spacing: 0.8px;
}

.review-page h2 {
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3),
    0px 0.1px 10px rgba(255, 255, 255, 0.3);
  letter-spacing: 2px;
}

/*
=================================================
Hero
=================================================
*/

.review-hero-container {
  height: 90svh;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
}

.review-hero-container-img {
  background-image: url(../imgs/encurage/reviewhero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.review-hero-container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
}

.review-hero-container h2 {
  border: none;
  transition: all 2s ease-in-out;
}

.review-hero-container p {
  transition: all 2s ease-in-out;
  text-align: left;
  max-width: 900px;
  letter-spacing: 2px;
}

.review-hero-container-text span {
  font-weight: 800;
}

/*
=====================================================================
Review Boxes
=====================================================================
*/

.review-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.review-box {
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-box img {
  margin-bottom: 40px;
}

.review-box p {
  margin: 0 auto;
  max-width: 700px;
  word-spacing: 0.4rem;
  text-align: center;

  letter-spacing: 1.5px;
}

.box-1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #b2ebf2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box-2 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #ffccbc;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box-3 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: #fcf3cf;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box-4 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: #eafaf1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box-5 {
  grid-area: 5 / 1 / 7 / 2;
  background-color: #fbeee6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box-6 {
  grid-area: 7 / 2 / 8 / 3;
  background-color: #b2ebf2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box-7 {
  grid-area: 8 / 1 / 9 / 2;
  background-color: #fcf3cf;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*
=====================================================================
Review info
=====================================================================
*/

.review-info {
  padding: 2rem 0 0 0;
}

.review-info span {
  font-weight: 900;
}

.review-info p {
  padding: 1rem;
  font-size: 1.2rem;
}

.review-email {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-email a {
  background-color: var(--primaryFour);
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
}

.review-email a span {
  text-decoration: underline;
  letter-spacing: 2px;
}

.review-info p:nth-child(4) {
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}

.review-links {
  margin: 2rem 0 6rem 0;
}

/*
=====================================================================
Media Queries    Built from Mobile ==> Tablet/IPad ==> Desktop
=====================================================================
*/

@media (min-width: 550px) and (max-width: 1100px) {
  /* hero */
  .review-hero-container {
    height: 100svh;
    flex-direction: row-reverse;
  }

  .review-hero-container-img {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  .review-hero-container h2 {
    border: none;
    transition: all 2s ease-in-out;
    padding-right: 2rem;
    font-size: 2.2rem;
  }

  .review-hero-container p {
    transition: all 2s ease-in-out;
    padding-right: 2rem;
    font-size: 1.4rem;
  }

  /* Review Boxes*/

  .review-box {
    flex-direction: row;
  }

  .review-box p {
    padding-left: 40px;
  }
}

@media (min-width: 1100px) {
  /* Hero */

  .review-hero-container {
    height: 100svh;
    flex-direction: row-reverse;
  }

  .review-hero-container-img {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  .review-hero-container h2 {
    border: none;
    transition: all 2s ease-in-out;
    padding-right: 2rem;
    font-size: 2.1rem;
    min-width: 700px;
  }

  .review-hero-container p {
    transition: all 2s ease-in-out;
    padding-right: 2rem;
    font-size: 1.4rem;
  }

  /* Review Boxes*/

  .review-container {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 0px;
  }

  .review-box {
    flex-direction: row;
  }

  .review-box p {
    padding-left: 40px;
  }
}
