@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --primaryOne: #008080; /* Teal */
  --primaryTwo: #d8eeed; /* Light Teal*/
  --primaryThree: #e6f1f2; /* SurfaceTeal */
  --primaryFour: #2e9593; /* Bright Teal*/
  --primaryFive: #3fccca; /*  */
  --primarySix: #284747; /* Dark Teal */
  --primarySeven: #f8f4ee; /* Cream */
  --primaryEight: #f7e9ce; /* Sand */
  --swiper-pagination-color: var(--primaryFive);
  --swiper-navigation-color: var(--primaryFive);
  --swiper-scrollbar-drag-bg-color: var(--primaryFive);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* 
====================================
Cookie Banner   
====================================
*/

.cookie-btn-container {
  margin-bottom: 30px;
}

/* 
====================================
Screen Transition Animation
====================================
*/

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primaryThree);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-animation {
  width: 350px;
  transition: all 0.5s ease-in-out;
}

/*
=====================================================================
Media Queries    Built from Mobile ==> Tablet/IPad ==> Desktop
=====================================================================
*/

@media (min-width: 550px) and (max-width: 1100px) {
  .loader-animation {
    width: 500px;
    transition: all 0.5s ease-in-out;
  }
}

@media (min-width: 1101px) {
  .loader-animation {
    width: 700px;
    transition: all 0.5s ease-in-out;
  }
}
