@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100;1,400&display=swap");

:root {
  --primaryOne: #008080; /* Teal */
  --primaryTwo: #d8eeed; /* Light Teal*/
  --primaryThree: #e6f1f2; /* SurfaceTeal */
  --primaryFour: #2e9593; /* Bright Teal*/
  --primaryFive: #3fccca; /*  */
  --primarySix: #284747; /* Dark Teal */
  --primarySeven: #f8f4ee; /* Cream */
  --primaryEight: #f7e9ce; /* Sand */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
